#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap {
		compatible = "zmk,keymap";
		layer_0 {
			bindings = <
				&bootloader
				&kp ESC     &kp N1   &kp N2   &kp N3 &kp N4    &kp N5    &kp N6      &kp N7   &kp N8   &kp N9     &kp N0    &kp MINUS  &kp EQUAL &kp BACKSPACE
				&kp TAB     &kp Q    &kp W    &kp E  &kp R     &kp T     &kp F3      &kp LBKT &kp Y    &kp U      &kp I     &kp O      &kp P     &kp BACKSLASH
				&m_terminal &kp A    &kp S    &kp D  &kp F     &kp G                          &kp H    &kp J      &kp K     &kp L      &kp SEMI  &kp QUOT
				&kp LSHIFT  &kp Z    &kp X    &kp C  &kp V     &kp B     &m_ossearch &kp RBKT &kp N    &kp M      &kp COMMA &kp PERIOD &kp SLASH &kp RSHIFT
				&kp LCTRL   &kp LALT &kp LALT &mo 1  &kp LGUI                                          &kp LEFT   &kp DOWN  &kp UP     &kp RIGHT &kp RCTL
				                                               &kp GRAVE &kp DEL     &kp LBKT &kp RBKT
				                                     &kp SPACE &mo 1     &kp HOME    &kp PGUP &mo 1    &kp RETURN
				                                                         &kp END     &kp PGDN
			>;
		};
		layer_1 {
			bindings = <
				&bootloader
				&none &kp F1   &kp F2   &kp F3    &kp F4 &kp F5 &kp F6       &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &none
				&none &none    &kp UP   &none     &none  &none  &kp C_VOL_UP &kp F2 &none  &none  &none   &none   &none   &none
				&none &kp LEFT &kp DOWN &kp RIGHT &none  &none                      &none  &none  &none   &none   &none   &none
				&none &none    &none    &none     &none  &none  &kp C_VOL_DN &kp F1 &none  &none  &none   &none   &none   &none
				&none &none    &none    &none     &none                                    &none  &none   &none   &none   &none
				                                         &none  &none        &none  &none
				                                  &none  &none  &none        &none  &none  &none
				                                                &none        &none
			>;
		};
	};

	ZMK_MACRO(m_terminal, bindings = <&macro_press &kp LALT>, <&macro_tap &kp SPACE>, <&macro_release &kp LALT>;)
	ZMK_MACRO(m_ossearch, bindings = <&macro_press &kp LGUI>, <&macro_tap &kp SPACE>, <&macro_release &kp LGUI>;)
};
